<h1>Log in</h1>

<% form_tag sessions_start_url do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>

<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>

<p>Don't have an account? <%= link_to 'Register here', signup_url %>
