<%= link_to 'Back', url_for(:action => 'index') %>

<p>
  Offering: <%= link_to @offering.name, :controller => 'offering', :action => 'show', :id => @offering.id %>, <em>(id: <%= @offering.id %>)</em><br />
  Workgroup: <%= link_to @workgroup.name, :controller => 'workgroup', :action => 'show', :id => @workgroup.id %>, <em>(id: <%=  @workgroup.id %>)</em>. <br />
  Curnit: <%= link_to @offering.curnit.name, {:controller => 'curnit', :action => 'show', :id => @offering.curnit.id }, {:title => "Show the curnit for this offering."}  %> <em>(id: <%= @offering.curnit.id %>), last updated: <%= @offering.curnit.jar_last_modified %></em> <br/>
  Uploaded: <%= @log_bundle.created_at %></em>. <br />
  Session started: <%= @log_bundle.bundle.sail_session_start_time %></em>. <br />
  Session ended: <%= @log_bundle.bundle.sail_session_end_time %></em>. <br />
</p>

<p>
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td><b>Offset</b></td>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td><b>Message</b></td>
		</tr>
		<% mycontent = @log_bundle.extracted_content -%>
		<% mycontent.keys.sort.each do |k| -%>
		<tr valign="top">
			<td><%= k %> ms </td>
			<td></td>
			<td><%= mycontent[k].join("<br/>") %></td>
		</tr>
		<% end -%>
	</table>
</p>
<p>
<%= link_to 'Back', url_for(:action => 'index') %>
</p>